html {
    scroll-behavior: smooth;
}
.main-header {
    color: hotpink;
    background-color: black;
}
.motto {
    color: black;
    background-color: hotpink ;
    border-bottom: 6px solid grey;
}
.fab fa-facebook-square {
    color: #3b5998
}