html {
    scroll-behavior: smooth;
}
.main-header {
    color: hotpink;
    background-color: black;
}
.motto {
    color: white;
    background-color: hotpink ;
    border-bottom: 6px solid grey;
}
p {
    font-size: 25px;
    line-height: 2.0em;
}
.video {
    border: 3px solid hotpink;
}
.photo {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid hotpink;
}
.facebook {
    font-size: 20px;
    color: #3b5998
    
}
.e-mail {
    font-size: 20px;
}
.footer-copyright {
    color: hotpink;
    background-color: black;
    font-size: 20px;
    border-top: 6px solid grey
}
.address {
    float: left;
}
.clear {
    clear:both;
}
